 <div id="signup-form">
    <h3>Sign Up For Membership!</h3>
    <form class="signup-form" method="post" action="/api/users/register" id="signup-form">
        <label for="email" style="display: block">Email:
            <input type="email" id="email-signup" name="email" required>
        </label>
        
        <label for="password" style="display: block">Password:
            <input type="password" id="password-signup" name="password" required>
        </label>
        
        <button type="submit" id="signup-button" style="display: block">Sign Up</button>
    </form>
</div>